;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/oops "0.5.8"]
  [cider/cider-nrepl "0.22.2"]
  [re-frame "0.10.6"]
  [reagent "0.8.1"]
  [metosin/spec-tools "0.9.0"]
  [org.clojure/test.check "0.9.0"] ;; TODO: move to dev deps when we don't need generation of data
  ;; [zprint "0.4.13"]
  [com.rpl/specter "1.1.3-SNAPSHOT"]]

 :nrepl
 {:port 8202}

 ;; :log
 ;; {:level :debug}

 :builds
 {:app
  {:target :react-native
   :init-fn time-align-mobile.app/init
   :output-dir "app"
   :devtools {:autoload true}}}}
