;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/oops "0.5.8"]
  [cider/cider-nrepl "0.21.1"]
  [re-frame "0.9.3"]
  [react-native-externs "0.1.0"]
  [reagent "0.8.1"]
  [metosin/spec-tools "0.7.2"]
  [org.clojure/test.check "0.9.0"] ;; TODO: move to dev deps when we don't need generation of data
  [zprint "0.4.9"]
  [com.rpl/specter "1.1.1"]
  [funcool/promesa "1.9.0"]]

 :nrepl
 {:port 8202}

 :builds
 {:app
  {:target :react-native
   :init-fn time-align-mobile.app/init
   :output-dir "app"
   :devtools {:autoload true
              :preloads [shadow.expo.keep-awake]}}}}
